*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}


body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/InShot_20230520_095049182.jpg);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
    
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1  span{
    color: #ff004f;
}

/* --------about-------- */

#about{
    padding: 8px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;   
}

.about-col-2 {
    flex-basis: 60%;

}

.sub-tite{
    font-size: 60px;
    font-weight: 60px;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{

    display: block;
}

/* ------------------------services---------------- */

#services{
    padding: 30px 0;

}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;

}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}

/* --------------------portfolio----------- */

#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;

}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20%;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background-color: #ff004f;

}

/* -------------contact------------- */

.contact-left{
    flex-basis: 35%;

}
.contact-right{
    flex-basis: 60%;
    position: absolute;
    bottom: -2700px; /* Adjust the top value as per your preference */
    right: 100px; /* Adjust the right value as per your preference */
    width: 50%;
   
}
.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s ;
}

.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.contact-right form{
    width: 100%;

}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 685px;
}

.copyright i{
    color: #ff004f;
}

/* -------css for small screens------ */
nav .fas{
    display: none;
}

@media only screen and (max-width: 600px) {
    #header {
        background-image: url(images/full.jpg);
    }
    
    .header-text {
        margin-top: 110%;
        font-size: 16px;
    }
    
    .header-text h1 {
        font-size: 30px;
    }
    
    nav .fas {
        display: block;
        font-size: 25px;
    }
    
    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    
    nav ul li {
        display: block;
        margin: 25px;
    }
    
    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    
    .sub-title {
        font-size: 40px;
    }
    
    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
    }
    
    .about-col-1 {
        margin-bottom: 30px;
    }
    
    .about-col-2 {
        font-size: 14px;
    }
    
    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }
    
    .contact-left {
        flex-basis: 50%;
        position: relative; /* Change to relative positioning */
        margin-bottom: 30px; /* Add margin instead of absolute positioning */
        right: -40px;
    }
    
    .contact-left .sub-title {
        margin-top: 0;
    }
    
    .contact-left p {
        margin: 0;
        line-height: 1.2;
    }
    
    .contact-left .social-icons {
        margin-top: 10px;
    }
    
    .contact-left .social-icons a {
        margin-right: 5px;
    }
    
    .contact-left .btn {
        margin-top: 10px;
    }
    
    .contact-right {
        flex-basis: 50%;
        position: relative; /* Change to relative positioning */
        bottom: 14px; /* Adjust the top value as per your preference */
    right: -30px; /* Adjust the right value as per your preference */
    width: 250px;
    text-align: center;
    align-items: center;
    }
    
    .contact-right .sub-title {
        margin-top: 0;
    }
    
    .contact-right p {
        margin: 0;
        line-height: 1.2;
    }
    
    .contact-right .social-icons {
        margin-top: 10px;
    }
    
    .contact-right .social-icons a {
        margin-right: 5px;
    }
    
    .contact-right .btn {
        margin-top: 10px;
    }
    
    .contact-container {
        position: relative;
    }
    
    .contact-container::after {
        content: "";
        display: table;
        clear: both;
    }
    
    .copyright {
        font-size: 10px;
        width: 100%;
        text-align: center;
        padding: 25px 0;
        background: #262626;
        font-weight: 300;
        margin-top: 183px;
        
    }
}

#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}

/* -------------------scrolll barrrr */

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: #d1e5ff;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#ff004f, #ff22e6);
    border-radius: 10px;
}

/* scroll responsive-------- */

/* Default styles for the scroll bar */
body::-webkit-scrollbar {
    width: 15px;
  }
  
  body::-webkit-scrollbar-track {
    background: #d1e5ff;
  }
  
  body::-webkit-scrollbar-thumb {
    background: linear-gradient(#ff004f, #ff22e6);
    border-radius: 10px;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 767px) {
    /* Hide scroll bar on mobile devices */
    body::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }
  }
  
  








/* ---------------popup!!! */

.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 2);
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 2);

}


/* ---------popup responsive */



.popup {
    width: 400px;
    max-width: 100%;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
  }
  
  .open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  
  .popup img {
    width: 100px;
    max-width: 50%;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 2);
  }
  
  .popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
  }
  
  .popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 2);
  }
  
  /* Media queries for responsiveness */
  
  @media screen and (max-width: 768px) {
    .popup {
      width: 90%;
      max-width: 90%;
    }
  
    .popup img {
      max-width: 70%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .popup {
      width: 90%;
      max-width: 90%;
      padding: 0 15px 15px;
    }
  
    .popup h2 {
      font-size: 24px;
    }
  
    .popup button {
      font-size: 16px;
    }
  }
  



/* ----------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

.imrani{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: -150px;
    
    
}

.img-slider{
    position: absolute;
    width: 800px;
    height: 500px;
    margin: 10px;
   
    
    
}

.img-slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
    
}

.img-slider .slide.active{
     clip-path: circle(150% at 0 50%);
     transition: 2s;
     transition-property: clip-path;
}

.img-slider .slide img{
    z-index: 1;
    width: 100%;
    border-radius: 5px;
}
.img-slider .slide .info{
     position: absolute;
     top: 0;
     padding: 15px 30px;
}
.img-slider .slide .info h2{
    color: #fff;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
}

.img-slider .slide .info p{
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
    font-size: 16px;
    width: 60%;
    padding: 10px;
    border-radius: 4px;
}
.img-slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);

}
.img-slider .navigation .btin{
    background: rgba(255, 255,255, 0.5);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.img-slider .navigation .btin.active{
    background: #2696E9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 820px){
    .img-slider{
        width: 600px;
        height: 375px;
    }
    .imrani{
        margin-bottom: 0px;
    }

 

    .img-slider .slide .info{
        padding: 10px 25px;
    }
    .img-slider .slide .info h2{
        font-size: 35px;
    }
    .img-slider .slide .info p{
        width: 70%;
        font-size: 15px;
    }

    .img-slider .navigation{
        bottom: 25px;

    }

    .img-slider .navigation .btin{
        height: 10px;
        width: 10px;
        margin: 8px;

    }
}

@media (max-width: 620px){
    .img-slider{
        width: 400px;
        height: 250px;
    }

    .img-slider .slide .info{
        padding: 10px 20px;
    }
    .img-slider .slide .info h2{
        font-size: 35px;
    }
    .img-slider .slide .info p{
        width: 80%;
        font-size: 13px;
    }

    .img-slider .navigation{
        bottom: 15px;

    }

    .img-slider .navigation .btin{
        height: 8px;
        width: 8px;
        margin: 6px;

    }
}

@media (max-width: 420px){
    .img-slider{
        width: 320px;
        height: 200px;
    }

    .img-slider .slide .info{
        padding: 5px 10px;
    }
    .img-slider .slide .info h2{
        font-size: 25px;
    }
    .img-slider .slide .info p{
        width: 90%;
        font-size: 11px;
    }

    .img-slider .navigation{
        bottom: 10px;

    }

    .hello{
        font-size: small;
        margin-top: -10px;
        margin-bottom: 0;
        margin: 0;

    }

}

.imrani .me {
    position: relative;
    top: -20px; /* Adjust the value as needed */
  }

.hello{
    margin: 0px;
    margin-bottom: 40px;
    text-align: center;
    background-color: #ff004f;
    border-radius: 10px;
    padding: 5px;
    align-items: center;
    font-size: medium;
    margin-top: 30px;
}




body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* -----------------------imam --------------- */

.bio span{
    
        color: #ff004f;
    }
    
.books span{
    color: yellow;
}
.box{
    padding-top: 0;
    padding-left: 80px;
    padding-right: 80px;
    font-weight: bold;
}

.boldi{
    font-weight: bold;
}
